<!DOCTYPE html>
<html ng-app="todoModule">
<head>
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js">
    </script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div ng-controller="TODOController">
    <div class="header">

        <div id="test">
            <span id="heading">To Do App</span>
        </div>
        <div id="triangle">
        </div>
    </div>
    <div class="left">
        <div id="left-title">
            <span>Things to Do</span>
        </div>
        <div id="left-content">
            <div id="input-item">
                <input type="text" placeholder="My to do items" ng-enter ng-model="newTask">
                <input type="text" placeholder="My description" ng-enter ng-model="newDesc">
                <button ng-click="insertTask()">Add</button>
            </div>
            <div class="todoItems">
                <ul>
                    <li ng-repeat="todo in todoList track by $index">
                        <input type="checkbox" name="todo-check" onclick="OnChangeCheckbox(this)" value="todo-in-group" ng-model="todo.isSelect">
                        <span ng-bind="$index+1"></span>
                        <span ng-bind="todo.name"></span>
                        <span ng-bind="todo.desc"></span>
                        <button ng-click="completeTask($index)">Done</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <div id="right-title">
            <span>Things Done!</span>
        </div>
        <div id="right-content">
            <div class="removeItems">
                <ul>
                    <li ng-repeat="done in doneList track by $index">
                        <input type="checkbox" name="done-check" value="done-in-group" ng-model="done.isSelect">
                        <span ng-bind="$index+1"></span>
                        <span  ng-bind="done.name"></span>
                        <span  ng-bind="done.desc"></span>
                        <button ng-click="removeTask($index)">Remove</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var todoModule = angular.module("todoModule", []);
    todoModule.controller("TODOController", function ($scope) {
        $scope.todoList = JSON.parse(localStorage.getItem('todoList'));
        if (!$scope.todoList) {
            $scope.todoList = [];
        }
        $scope.insertTask = function () {
            $scope.todoList.push({name: $scope.newTask,desc: $scope.newDesc});
            $scope.newTask = "";
            localStorage.setItem('todoList', JSON.stringify($scope.todoList));
        };
        $scope.doneList = JSON.parse(localStorage.getItem('doneList'));
        if (!$scope.doneList) {
            $scope.doneList = [];
        }
        $scope.completeTask = function (index) {
            $scope.doneList.push($scope.todoList.splice(index, 1)[0]);
            localStorage.setItem('todoList', JSON.stringify($scope.todoList));
            localStorage.setItem('doneList', JSON.stringify($scope.doneList));
        };
        $scope.removeTask = function (index) {
            $scope.doneList.splice(index, 1);
            localStorage.setItem('doneList', JSON.stringify($scope.doneList));
        };
    });

    todoModule.directive("ngEnter", function () {
                return{
                    link: function (scope, element) {
                        element.bind("keypress", function (event) {
                        if (event.keyCode == 13) {
                            scope.insertTask();
                            scope.$digest();

                        }
                        });

                    }

                }

            }

    );

    function OnChangeCheckbox(checkbox) {
        if (checkbox.checked) {
            alert ("The check box is checked.");
        }
        else {
            alert ("The check box is not checked.");
        }
    }

/*todo : Find the event fir check/uncheck
 todo : Find angular event corresponding to that event
 todo : Find demo for that event
  */

</script>
</html>